<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Proeficiency:</strong>
  <%= @skill.proeficiency %>
</p>

<p>
  <strong>User:</strong>
  <%= @skill.user %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
