= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .form-actions
    = button_tag type: :submit, class: 'btn btn-success' do
      %i.fa.fa-check
      Update <%= singular_table_name %>

    .pull-right
      - if @<%= singular_table_name %>.persisted?
        = link_to 'Delete', <%= singular_table_name %>_path(@<%= singular_table_name %>),
          method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure ?'}
