<div class="profile-show">
  <section class="header">
    <%= render 'components/background',
               image: image_path('https://images.unsplash.com/photo-1472457974886-0ebcd59440cc?dpr=2&auto=format&fit=crop&w=767&h=512&q=80&cs=tinysrgb&crop=') %>

    <div class="container">
      <h1 class="user-name"><%= @user.name %></h1>
      <div class="user-role"><i class="fa fa-user-circle"></i> <%= @user.role %></div>
      <p class="user-bio"><%= @user.bio %></p>
    </div>
  </section>

  <div class="container">
    <section class="info clearfix">
      <header>
        <img src="<%= @user.image %>" alt="<%= @user.name %> profile photo" class="user-image image-responsive rounded-circle">
        <div class="user-name"><%= @user.name %></div>
        <div class="user-company"><i class="fa fa-briefcase"></i> <%= @user.company %></div>
        <div class="user-location"><i class="fa fa-map-marker"></i> <%= @user.location %></div>
        <div class="user-website">
          <i class="fa fa-globe"></i>
          <a href="<%= @user.website %>"><%= @user.website %></a>
        </div>
      </header>

      <div class="socials">
        <% @user.socials().each do |social, url| %>
            <a href="<%= url %>" target="_blank">
              <i class="fa fa-<%= social.gsub('_', '-') %>"></i>
            </a>
        <% end %>
      </div>
    </section>

    <section class="projects">
      <header>
        <h2>
          <i class="fa fa-rocket"></i>
          Projects
        </h2>
      </header>

      <% @user.projects.each do |project| %>
          <div class="project">
            <%= project.name %>
          </div>
      <% end %>
    </section>

    <section class="skills">
      <header>
        <h2>
          <i class="fa fa-flask"></i>
          Skills
        </h2>
      </header>
    </section>
  </div>
</div>