<div class="profile-show">
  <section id="header">
    <%= render 'components/background',
               blur: '5px',
               # image: 'https://images.unsplash.com/photo-1472457974886-0ebcd59440cc?dpr=2&auto=format&fit=crop&w=767&h=512&q=80&cs=tinysrgb&crop='
               image: 'https://images.unsplash.com/photo-1416339442236-8ceb164046f8?dpr=2&auto=compress,format&fit=crop&w=767&h=555&q=80&cs=tinysrgb&crop='
    %>

    <div class="container">
      <img src="<%= @user.avatar %>"
           alt="<%= @user.name %> profile photo"
           class="user-image image-responsive rounded-circle wow animated fadeInDown">

      <h1 class="user-role wow animated fadeIn">
        <%= @user.role %>
      </h1>

      <p class="user-bio wow animated fadeIn">
        <%= @user.bio %>
      </p>

      <%= render 'components/socials', socials: @user.socials() %>
    </div>
  </section>

  <section id="info" class="clearfix">
    <div class="container">
      <h2 class="user-name wow animated fadeInDown">
        <%= @user.name %>
      </h2>

      <div class="row">
        <% if @user.company %>
            <div class="user-company col-md-4 wow animated fadeIn">
              <header>
                <i class="fa fa-briefcase"></i>
                <h3>Working At</h3>
              </header>

              <a href="<%= @user.company_website || '#' %>" target="_blank">
                <%= @user.company %>
              </a>
            </div>
        <% end %>

        <% if @user.location %>
            <div class="user-location col-md-4 wow animated fadeIn">
              <header>
                <i class="fa fa-map-marker"></i>
                <h3>Location</h3>
              </header>

              <%= @user.location %>
            </div>
        <% end %>

        <% if @user.website %>
            <div class="user-website col-md-4 wow animated fadeIn">
              <header>
                <i class="fa fa-globe"></i>
                <h3>Website</h3>
              </header>

              <a href="<%= @user.website %>"><%= @user.website %></a>
            </div>
        <% end %>
      </div>
    </div>
  </section>

  <section id="skills">
    <h2 class="wow animated fadeIn">
      <%= render 'components/icon-header', title: 'Skills', icon: 'flask' %>
    </h2>

    <div class="skills-background">
      <div class="container">
        <%= render 'components/skills', skills: @user.skills %>
      </div>
    </div>
  </section>

  <section id="projects">
    <div class="container">
      <%= render 'components/projects', projects: @user.projects %>
    </div>
  </section>
</div>