<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/partials/head',
             title: @user.name,
             description: @user.bio,
             image: @user.cover || @user.avatar,
             prepend_keywords: "#{@user.username}, #{@user.role}, "
  %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'layouts/partials/header' %>

<%= yield %>

<%= render 'layouts/partials/footer' %>

</body>

</html>
