<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/partials/head',
             title: current_user.name
  %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'layouts/partials/header' %>

<%= yield %>

<%= render 'layouts/partials/footer' %>

</body>

</html>
